!!!
%html{ dir: 'ltr', lang: 'en' }
  %head
    %meta{ charset: 'utf-8'}
    %title Shirts
    %meta{ name: 'author', content: 'Sean Eshbaugh' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag 'screen', media: 'screen'
    %script{ src: 'https://code.jquery.com/jquery-2.1.3.min.js' }
    = javascript_include_tag 'all'
  %body
    = yield
